# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
# *.out
*.app

.dropbox.attr

#######
.auto/all_nodes.h
.auto/visitor_decls.h
.idea
.vscode
CVS/
l22
l22_parser.output
l22_parser.tab.c
l22_parser.tab.h
l22_scanner.cpp
libs/
tests/src/*.asm
tests/src/*.o
tests/src/*.xml
tests/src/*.out
tests/*.out